body{
  background-image: url("./assets/mnp_background.png");
  background-size: auto;
  background-position: top;
  background-repeat: repeat;
  font-family: Arial;

  @media screen and (max-width: 800px){
    background-size: cover;
  }
}
